<div class="container mt-2">
  <div class="card mx-auto" style="max-width: 500px">
    <div class="card-body">
      <%= form_with(model: friend, local: true) do |form| %>
        <% if friend.errors.any? %>
          <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h4>
            <ul>
              <% friend.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :first_name, class: "form-label" %>
          <%= form.text_field :first_name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :last_name, class: "form-label" %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :phone, class: "form-label" %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :instagram, class: "form-label" %>
          <%= form.text_field :instagram, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.hidden_field :user_id, value: current_user.id %>
        </div>
        

        <div class="d-grid">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
