<tr id="<%= dom_id(friend) %>">
  <td><%= link_to friend.first_name + " " + friend.last_name, friend %> </td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.instagram %></td>
 
  <td><%= link_to "Unfriend", friend, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %></td>
</tr>
